// Colors
// Keep in sync with custom-bootstrap.scss for global theming
$color-primary = #D6BD76
$color-secondary = #32194C
$color-secondary-accent = #896AA9
$color-black = #1D0F31
$color-gray = #707070
$color-light-gray = #C0C0C0
$color-active = #8557B5
$color-success = #46C37F
$color-warning = #EDB615
$color-danger = #D14F51
$color-dark = #1A0D2A
$color-light = lighten($color-primary, 50%)

// Fonts
$font-family-serif = "Playfair Display", Georgia, "Times New Roman", Times, serif
$font-family-sans-serif = "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif

// Breakpoints
$breakpoint-xs = 0
$breakpoint-sm = 576px
$breakpoint-md = 768px
$breakpoint-lg = 992px
$breakpoint-xl = 1200px

// Dimensions
$side-nav-width = 16rem

// Z-Indexes
$freshchat-z-index = 2147483600 // this is used to offset the z-index of certain elements so they appear above the freshchat icon

// Components
card()
  flex: none
  width: 100%
  border: none
  margin-top: 1rem
  margin-bottom: 1rem
  backdrop-filter: blur(4px)
  border-radius: 0 0 .25rem .25rem
  background-color: rgba(white, .1)

  .card-header
    padding: 0
    border-bottom: 1px solid rgba(black, .1)

  .card-body
    background-color: white
    border-radius: @border-radius

    a
      font-weight: bold
      color: $color-dark

    small
      color: $color-light-gray

  .card-img-top
  .carousel-container
    width: 100%
    height: 16rem
    min-height: 16rem
    max-height: calc(100vh - 2rem)

  .card-img-top
    height: auto
    object-fit: cover
    // object-position: top

    // background-size: 100%
    // background-image: url(https://s3.amazonaws.com/codex.registry/assets/missing-image.png)

  @media (min-width: $breakpoint-sm)
    width: calc(50% - 2rem)

    .card-img-top
    .carousel-container
      height: 16rem

  @media (min-width: $breakpoint-lg)
    width: calc(33% - 2rem)

  @media (min-width: $breakpoint-xl)
    width: calc(25% - 2rem)
