// Colors
// Keep in sync with custom-bootstrap.scss for global theming
$color-primary = #D6BD76
$color-secondary = #32194C
$color-secondary-accent = #896AA9
$color-black = #1D0F31
$color-gray = #707070
$color-light-gray = #C0C0C0
$color-active = #8557B5
$color-success = #46C37F
$color-warning = #EDB615
$color-danger = #D14F51
$color-dark = #1A0D2A
$color-light = lighten($color-primary, 50%)

// Fonts
$font-family-serif = "Playfair Display", Georgia, "Times New Roman", Times, serif;
$font-family-sans-serif = "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Breakpoints
$breakpoint-xs = 0
$breakpoint-sm = 576px
$breakpoint-md = 768px
$breakpoint-lg = 992px
$breakpoint-xl = 1200px

// Dimensions
$side-nav-width = 14rem
$bottom-nav-height = 4rem

card()
  flex: none
  margin-bottom: 1rem
  margin-top: 1rem
  border: none
  border-radius: 0 0 .25rem .25rem

  @media screen and (min-width: $breakpoint-sm)
    max-width: calc((100% * 1/2) - 2rem)

  // We skip the medium breakpoint as that is where the navigation switches.

  @media screen and (min-width: $breakpoint-lg)
    max-width: calc((100% * 1/3) - 2rem)

  @media screen and (min-width: $breakpoint-xl)
    max-width: calc((100% * 1/4) - 2rem)
